* {
    margin: 0;
    padding: 0;
}

.main_container {
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

text {
    font-family: FontAwesome;
 }
#canvas, canvas{
    background-color: black;
}
